# Module 4

In [15]:
# Tuples can be created in the same manner as python and can contain any type of variable
#difference between arrays and lists: arryas hold elements of the same type in java while lists can hold different types
l = ("test", 123, ("Hellow", 555))

print(l)
print(l[1])
print(l[0])

('test', 123, ('Hellow', 555))
123
test

In [2]:
# Accesing a tuple is via the index
print(l[0], l[1], l[2])

test 123 ('Hellow', 555)

In [3]:
 # A list may be sliced according to the indexes. The first is inclusive, the last is excluded
print(l[0:2])

# Negative indexes may be used
print(l[-2])

# A range can be from index to end or from start to end
print(l[1:], "and", l[:2]) #last index is exclusive

('test', 123)
123
(123, ('Hellow', 555)) and ('test', 123)

In [4]:
# Getting the length means using the len() function
print(len(l))

3

In [5]:
# Once values are assigned they cannot be changed
l[0] = 2

TypeError: 'tuple' object does not support item assignment

In [2]:
# Concatenation can be performed on lists
print((1, 2, 3) + (4, 5, 6))

# Multiplication to repeat elements can also be applied
print(("Repeat",) * 3)

(1, 2, 3, 4, 5, 6)
('Repeat', 'Repeat', 'Repeat')

In [19]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# An alternative is to programmatically create a tuple from a list / array using
# the tuple function (lists will be discussed later)
# Remember that the range function returns a list / array

numbers2 = tuple(range(1, 11))
print(numbers, numbers2)

# Get all odd and even numbers
# These are stored in a new type of data structure called the generator class which you can loop in

oddNumbers = (x for x in numbers if x % 2 == 1)
evenNumbers = (x for x in numbers if x % 2 == 0)

print("Odd")
for x in oddNumbers:
    print(x)
    
print("Even")
for x in evenNumbers:
    print(x)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Odd
1
3
5
7
9
Even
2
4
6
8
10

In [9]:
# An alternative would be to create a list / array instead of a tuple
    
oddNumbers = [x for x in numbers if x % 2 == 1]
evenNumbers = [x for x in numbers if x % 2 == 0]

print("Odd", oddNumbers, "Even", evenNumbers)

Odd [1, 3, 5, 7, 9] Even [2, 4, 6, 8, 10]

In [46]:
# Lists can be though of as Arrays and mimic queues. They can contain all data types

array = [0, 1, 2, 3, 4, 5, "Hi"]
print(array)

[0, 1, 2, 3, 4, 5, 'Hi']

In [6]:
# Certain data structures can be converted to a list/array via the list() function

l2 = list("TESTING")
print(l2)

['T', 'E', 'S', 'T', 'I', 'N', 'G']

In [12]:
# Other data structures will call TypeError if they cannot be converted
l3 = list(123123)

TypeError: 'int' object is not iterable

In [47]:
# Adding to a list means using the append() function. You can also concatenate 2
# lists using the +
array.append("List")
print(array)

[0, 1, 2, 3, 4, 5, 'Hi', 'List']

In [48]:
# Replacing an element is the same as accessing it in a tuple
print(array[1])
array[1] = "New Value"
print(array)

1
[0, 'New Value', 2, 3, 4, 5, 'Hi', 'List']

In [30]:
 # Accessing the range is the same as a list, a subset of list
array[2:4]

[2, 3]

In [49]:
# Certain functions allow easy manipulation of a list
array.reverse() # Inline function; orignal array modified
print(array)

['List', 'Hi', 5, 4, 3, 2, 'New Value', 0]

In [50]:
# Removing an element at means using the pop(index) function
# Removing the first occurence of 'x' means using the remove(value) function
# Returns the value
print(array.pop(1))
# Does not return the value
print(array.remove("New Value")) #this removes the first occurance of "New Value"
# Reprint the array to see the changes
print(array)

Hi
None
['List', 5, 4, 3, 2, 0]

In [51]:
# Arrays have an in-built sorting function
# However, this only works if all the data types are the same
print(array.sort())

TypeError: '<' not supported between instances of 'int' and 'str'

In [19]:
array2 = ['a', 'd', 'b', 'e']
array2.sort()
print(array2)

['a', 'b', 'd', 'e']

In [20]:
names = ["George", "Tony", "Maria", "Joseph", "Rami"]
names.sort()
print(names)

['George', 'Joseph', 'Maria', 'Rami', 'Tony']

In [21]:
# Spaceship operators are not found in python as it is strict in comparisons. An alternative
# would be to use the total_ordering class.
# Details found in https://portingguide.readthedocs.io/en/latest/comparisons.html

In [52]:
 # Split works and results in a list. You just have to pass
# the delimiter

"Hello, my name is Joseph. This is a test".split(" ")
a= input("What are the letters?").split(" ")
print(a)

What are the letters?a b c d ef g
['a', 'b', 'c', 'd', 'ef', 'g']

In [24]:
Audios = ["Title1 1999 Artist1"]
Audios = Audios + ["Title2 2000 Artist2"]
Audios.append("Title3 2001 Artist3")
Audios.append("Title4 2002 Artist4")
Audios.append("Title5 2003 Artist5")

In [25]:
Audios

['Title1 1999 Artist1',
 'Title2 2000 Artist2',
 'Title3 2001 Artist3',
 'Title4 2002 Artist4',
 'Title5 2003 Artist5']

In [26]:
for entry in Audios:
    result = entry.split(" ")
    print("Title:", result[0])
    print("Release Date:", result[1])
    print("Artist:", result[2])

# Accessing the index using the enumerate function
# BE careful to force the int to become an str using the str function

for index, entry in enumerate(Audios):
    result = entry.split(" ")
    print("Entry number "+ str(index), "Title:", result[0], "Release Date:", result[1])

Title: Title1
Release Date: 1999
Artist: Artist1
Title: Title2
Release Date: 2000
Artist: Artist2
Title: Title3
Release Date: 2001
Artist: Artist3
Title: Title4
Release Date: 2002
Artist: Artist4
Title: Title5
Release Date: 2003
Artist: Artist5
Entry number 0 Title: Title1 Release Date: 1999
Entry number 1 Title: Title2 Release Date: 2000
Entry number 2 Title: Title3 Release Date: 2001
Entry number 3 Title: Title4 Release Date: 2002
Entry number 4 Title: Title5 Release Date: 2003